<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="UTF-8">
        <title>Curso Spring Boot</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
    	
    	<div class="container mt-5 mb-5 text-center">
    		<h1>Vacante seleccionada</h1>
    		
    		<hr>
    		
    		<img th:src="@{ /img/{img} ( img=${ vacante.img } ) }" width=50/>
    		<p th:text="${ vacante.nombre }"></p>
    		<p th:text="${ vacante.descripcion }"></p>
    		<p th:text="${ vacante.fecha }"></p>
    		<p th:text="${ vacante.salario }"></p>
    		
    		<a th:href="@{ /home/tabla }" class="btn btn-block btn-outline-info">Tabla</a>

    	</div>
    	
    </body>
</html>